<%- include('partials/head', name) %>

<body>
    <h1>
        <%=name%>
    </h1>
    <h2>
        <%=description%>
    </h2>
    <% for (let post of posts) { %>
        <ul>
            <li>
                <%= post.title %> - <%= post.author %>
            </li>
        </ul>
        <% } %>
</body>
</html>